@font-face {
   font-family:rick_and_morty;
   src: url(get_sch/get_schwifty.ttf);
   
}


.App {
   text-align: center;
   flex-direction: column;
   display: flex;
   align-items:center ;
   background-image:linear-gradient(rgba(89, 90, 94, 0.75),rgba(70, 70, 70, 0.75))
    url(https://www.xtrafondos.com/wallpapers/resized/rick-y-morty-en-el-espacio-9232.jpg?s=large);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center bottom;
  font-family: rick_and_morty;
  

}

/* .nav{
   display:flex;
   justify-content: flex-end;
   background-color: rgb(231, 150, 150);
   border-radius:2em ;
   width: fit-content;
   height: fit-content;
   margin-top: 1em;
   margin-bottom: 1em;
   margin: 1em 0;
   box-sizing: border-box;
 } */
   
   
   .titulo{
      -webkit-text-fill-color: rgb(77, 4, 58);
      -webkit-text-stroke: 0.01px #67e3ec;
       text-shadow: 2px 1px 2px rgb(0, 0, 0)
   }


      
   
   
   
   
